{% extends "html/index.html" %}

{% block block_video %}
    
        <div class="text-center">
            <strong>Список видео в каталоге: {{ data.adress }}</strong>
        </div>
        

        {% for v in data.list_video %}
        <div class="row align-items-center">
            <div class="col-6">
                <div class="block_video">
                    <video width='100%' controls="controls" poster="video/duel.jpg">
                        <source src="{{ v.path }}">
                    </video>
                    <small  class="text-center">{{ v.name }}</small>
                </div>
            </div>
            <div class="col-6">
                <img src="..." class="img-fluid" alt="...">
            </div>
        </div>
        {% endfor %}

        
    

{% endblock %}